{% extends 'layout.html' %}
{% load static %}

{% block title %}Главная{% endblock %}
{% block style %}{% static 'css/greeting.css' %}{% endblock %}

{% block content_main %}
    <div class="greeting">
        <h1>Лабы ЕЯЗИИС <br></h1>
        <div class="button_greet">
            <a href="{% url 'main' %}">
                <button class="btn btn-outline-success my-2 my-sm-0">1 лаба</button>
            </a>
            <a href="{% url 'role' %}">
                <button class="btn btn-outline-success my-2 my-sm-0">2 лаба</button>
            </a>
            <a href="{% url 'sem_synt' %}">
                <button class="btn btn-outline-success my-2 my-sm-0">3 лаба</button>
            </a>
            <a href="{% url 'main' %}">
                <button class="btn btn-outline-success my-2 my-sm-0">Популярность объектов</button>
            </a>
        </div>
    </div>
{% endblock %}


